/* ===================== */
/* ======== MAP ======== */
/* ===================== */

/* 1. RESET */
/* 2. UTILITIES */
/* 3. MAIN SECTION */
/* 4. NAVBAR */
/* 5. BURGER MENU MOBILE */
/* 6. POST PAGE */
/* 7. LOADER */
/* 8. FORM */
/* 9. ANIMATION */
/* 10.Media Queries */

/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* ================= RESET ================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus,
button:active {
  outline: none;
  box-shadow: -1px 0px 4px 4px rgba(185, 200, 218, 0.8);
}

/* =============== Utilities ================ */
:root {
  --dark-gray-blue: #48556a;
  --grey-blue: #6d7f97;
  --light-blue: #9eafc2;
  --light: #ecf2f8;
  --text: #173e43;
  --gradient-text: linear-gradient(45deg, #ff8c7f, #f99185, #cf556c, #5d4157);
  --gradient-bg1: linear-gradient(45deg, #dcb0ed, #e7cdf1, #99c99c);
  --gardient-bg: linear-gradient(
    45deg,
    #fed689,
    #fdc27e,
    #fcb1c2,
    #f8b3dd,
    #f1a7e7,
    #f5d2f6,
    #cb8cf7,
    #95b0ec,
    #89d7f3,
    #86ebe2
  );
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-1 {
  margin: 1rem;
}

.padding {
  padding: 0.5rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-btn {
  padding: 0.25rem;
}

.text-bg-animation {
  background-image: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300%;
  animation: bg-animation 10s infinite alternate;
}

.cursor-blink {
  border-right: 0.2rem solid #777;
  animation: blink 0.5s infinite alternate ease-in-out;
}

/* =========================================== */
/* ================ MAIN SECTION ============= */
/* =========================================== */
body {
  background-image: var(--gardient-bg);
  height: 100%;
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

.containerMain {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

/* ======================================== */
/* ================ NAVBAR ================ */
/* ======================================== */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: inherit;
  font-family: "RocknRoll One", sans-serif;
}

#logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1rem;
}

.nav-active {
  transform: translateX(0%);
}

/* ============== BURGER MENU MOBILE =============== */
.burger {
  display: none;
  cursor: pointer;
}

.burger > * {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 5px;
  transition: all 0.3s ease;
}

.burgerAnimate .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burgerAnimate .line2 {
  opacity: 0;
}

.burgerAnimate .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#hero {
  font-family: "RocknRoll One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin: 1rem;
  border-radius: 5px;
}

#hero h1 {
  font-size: 10vw;
  margin-bottom: 1rem;
}

#hero p {
  font-size: 2rem;
  color: var(--text);
}

/* ======================================= */
/* ============= POST PAGE =============== */
/* ======================================= */

/*============ MOBILE FIRST ============== */

.postContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

#marginBottom {
  transition: 1s;
}

.mobileMargin {
  margin-bottom: 10rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 17px 28px 8px rgb(0 0 0 / 6%);
  width: 88%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  overflow-wrap: break-word;
}

/* =============== Top part of the card ============== */
.article__header {
  background-size: cover;
  background-position: top;
  border-radius: 10px 10px 0 0;
  height: 12.5rem;
  overflow: hidden;
}

.article__header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* ============== Article description ============== */

.article__info--container {
  width: 80%;
  margin: 2.5rem auto 0;
}

.article__title {
  color: var(--dark-gray-blue);
  font-size: 1.025rem;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.article__summary {
  color: var(--grey-blue);
  font-size: 0.82rem;
  line-height: 1.6em;
  width: 98%;
}

/* ============= Author info and share button =============== */

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.profile-picture {
  margin-right: 15px;
  width: 18%;
}
.profile-picture img {
  border-radius: 50%;
  width: 100%;
}

.author {
  display: flex;
  align-items: center;
}
.author .name {
  color: var(--dark-gray-blue);
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 8px;
}
.author .date {
  color: var(--light-blue);
  font-size: 0.75rem;
}

.share-btn {
  background-color: var(--light);
  border: none;
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
}

.share-btn img {
  width: 15px;
}

.more_link {
  text-decoration: none;
  color: var(--light-blue);
  background-color: var(--light);
  padding: 0.5rem;
  margin-left: 1rem;
  text-align: center;
  border-radius: 5px;
  font-family: "RocknRoll One", sans-serif;
}

/* ============= Active Share footer for mobile =============== */
.share-footer {
  display: flex;
  align-items: center;
  background-color: var(--dark-gray-blue);
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.2rem 10%;
  transform: translateX(102%);
  transition: transform 0.6s;
}
.share-footer p,
.share-popup p {
  color: var(--light-blue);
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  margin-right: 5px;
}
.share-footer a,
.share-popup a {
  margin: 0 8px;
}

.share-footer .share-btn {
  background-color: var(--grey-blue);
  margin-left: auto;
}

.share-footer--active {
  transform: translateX(0);
  transition: transform 0.6s;
}

.share-popup {
  display: none;
}

/* ============= LOADER =============== */
.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: opacity 0.3s ease-in;
}

.loader.show {
  opacity: 1;
  z-index: 1;
}

.circle {
  background-color: var(--dark-gray-blue);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

/* ======================================= */
/* =============== FORM ================== */
/* ======================================= */
.invalid-feedback {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.875em;
  color: #dc3545;
  width: 100%;
  border-radius: 5px;
}

.formContainer {
  font-family: "RocknRoll One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#formContainer {
  background-color: rgba(255, 255, 255, 0.4);
  height: auto;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.form-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form_label {
  font-size: 1.25rem;
  color: #48556a;
}
/* 
#form {
  width: 90%;
} */

.input {
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid #9eafc2;
  border-radius: 5px;
  padding: 0.5rem;
}

.input:focus,
.input:checked,
.input:-webkit-autofill {
  background-color: inherit;
  color: #48556a;
}

.btn {
  font-family: "RocknRoll One", sans-serif;
  display: block;
  width: 100%;
  background-color: inherit;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #48556a;
}

.btn-link {
  text-decoration: none;
  color: #48556a;
}

/* ======================================= */
/* ============= PAGE - 404 ============== */
/* ======================================= */
.mainbox {
  margin: auto;
  height: 100vh;
  width: 600px;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}

.err {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #ffffff;
}

.err2 {
  color: #ffffff;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.link-404 {
  text-decoration: none;
  color: white;
}

.link-404:hover {
  text-decoration: underline;
}

/* ======================================= */
/* ============= ANIMATION =============== */
/* ======================================= */

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* ======================================= */
/* =========== Media Queries ============= */
/* ======================================= */

/* ==== Desktop version post page ======== */

@media (min-width: 50rem) {
  .share-footer {
    display: none;
  }
  .card {
    display: flex;
    align-items: center;
    max-width: 720px;
    overflow: visible;
    height: 16rem;
  }

  .article__header {
    border-radius: 10px 0 0 10px;
    background-position: left;
    width: 39%;
    height: 16rem;
  }

  .article__info--container {
    margin: 0 auto 0;
    padding: 2rem 2.4rem 0 2.4rem;
    width: 61%;
  }
  .article__title {
    font-size: 1.3rem;
    line-height: 1.7rem;
    margin-bottom: 0.8rem;
  }
  .card__footer {
    margin-top: 1.3rem;
    margin-bottom: 1.8rem;
  }

  .profile-picture {
    width: 13%;
  }

  .share-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray-blue);
    border-radius: 10px;
    box-shadow: 3px 10px 10px 0px rgb(0 0 0 / 10%);
    opacity: 0;
    position: absolute;
    padding: 1rem 2rem;
    right: 10px;
    bottom: -2rem;
    transition: opacity 0.5s, bottom 0.5s;
  }
  .share-popup-active {
    opacity: 1;
    bottom: -1rem;
    transition: opacity 0.5s, bottom 0.5s;
  }
  .share-popup::after {
    content: " ";
    background-color: #48556a;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 115px;
    transform: rotate(45deg);
  }
  .share-popup p {
    margin-right: 10px;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    margin-bottom: -3rem;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 8vh;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transition: transform 0.5s ease-in;
    z-index: 1000;
  }

  .flex-row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .cursor-blink {
    display: none;
  }

  .nav-links li {
    opacity: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .burger {
    display: block;
  }

  #hero h1 {
    display: none;
  }

  #hero p {
    display: none;
  }
}

/* ======================================== */
/* ===== SINGLE POST PAGE - show.php ====== */
/* ======================================== */

.btn-main {
  font-family: "RocknRoll One", sans-serif;
  display: block;
  width: 100%;
  background-color: inherit;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.singlePostContainer {
  width: 100%;
  font-family: "RocknRoll One", sans-serif;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  padding-top: 5rem;
}

.btn-text-1 {
  color: red;
}

.btn-text-2 {
  color: green;
}

.btn-text-3 {
  color: var(--text);
}

/* ======================================== */
/* ===== POST EDIT PAGE - edit.php ====== */
/* ======================================== */

.addPostContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 60vw;
}

/* ======================================== */
/* ============== DASHBOARD =============== */
/* ======================================== */

.db-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.db-heading h1 {
  font-family: "RocknRoll One", sans-serif;
}


